html,
body {
  height: 100%;
  padding: 1rem;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #191919;
}

img{
  border-radius: 100%;
}

.form-signin {
  max-width: 330px;
  color: #fff;
  padding: 15px;
}

.form-floating{
  color: #000;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[id="floatingSobrenome"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[id="floatingName"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Sucess page */

.box{
  width: 400px;
}